<h1><%= @article.title %></h1>
<p><%=@article.content%></p>
<form method="POST" action="/articles/<%@article.id%>">
<input id="hidden" value="hidden" name="_method" >
  <input type="submit" />
</form>